<%= div_for product, class: 'col-md-4' do %>
  <div class="panel panel-default <%= 'archived' if product.archived %>">
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="label label-warning pull-right"><%= product.name %></span>
          Name:
        </li>
        <li class="list-group-item">
          <%= price_badge(price: product.price, sale: product.sale)%>
          Price:
        </li>
        <% if product.updater && policy(product.updater).show? %>
          <li class="list-group-item">
            <span class="label label-warning pull-right"><%= link_to product.updater.full_name, product.updater %></span>
            Updater:
          </li>
        <% end %>
        <% unless product.sale.zero?%>
          <li class="list-group-item">
            With sale
          </li>
        <% end %>
      </ul>
      <div class="btn-group" role="group">
        <% if policy(product).edit? %>
          <%= link_to 'Edit', '#', class: 'btn btn-default edit' %>
        <% end %>
        <% if policy(product).destroy? %>
          <%= link_to 'Archive', product_archivate_path(product), method: :delete, class: 'btn btn-warning archive' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
