<%= div_for product, class: 'col-md-4' do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= product.title %>
      <span class="badge pull-right"><%= product.price %></span>
    </div>
    <div class="panel-body">
      <div class="btn-group" role="group">
        <% if policy(product).edit? %>
          <%= link_to 'Edit', '#', class: 'btn btn-default edit' %>
        <% end %>
        <% if policy(product).destroy? %>
          <%= link_to 'Archive', '#', class: 'btn btn-warning archive' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
