<%= div_for product, class: 'col-md-4' do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="label label-warning pull-right"><%= product.name %></span>
          Name:
        </li>
        <li class="list-group-item">
          <%= price_badge(price: product.price, sale: product.sale)%>
          Price:
        </li>
        <% unless product.sale.zero?%>
          <li class="list-group-item">
            With sale
          </li>
        <% end %>
      </ul>
      <div class="btn-group" role="group">
        <% if policy(product).edit? %>
          <%= link_to 'Edit', '#', class: 'btn btn-default edit' %>
        <% end %>
        <% if policy(product).destroy? %>
          <%= link_to 'Archive', '#', class: 'btn btn-warning archive' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
